# Ignore everything
*

# Don't ignore folders
!*/

# Don't ignore .gitignore, pacman package and sprite sheet
!.gitignore
!/src/pacman/**
!/resources/icon/*
!/resources/maps/map.txt
!/resources/textures/sheet.png